
**/.DS_Store
**/*_history
**/*_history_meta/
**/*.log

**/gcloud/
**/gh/
**/github-copilot/
**/jgit/
**/raycast/
**/wireshark/

**/.*_history
**/*.log
**/zoxide
**/zsh/.zsh_history
**/zsh/.zcompdump*

**/nvim/plugin/
**/nvim/.repro/
**/nvim/undo/
**/nvim/swap/

**/*.save
**/*.bak
.DS_Store
